apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-2r55
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-2r55
    app.kubernetes.io/part-of: ci1t-43256-0075-app
  name: devfile-sample-2r55
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: devfile-sample-2r55
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: devfile-sample-2r55
    spec:
      containers:
      - image: quay.io/stonesoup_perfscale/ci1t-43256-0075-tenant/ci1t-43256-0075-app/devfile-sample-2r55@sha256:a1ef6bd18dd19a8da211b9832261827beb62e8465782dd9733d5d5cbf295c810
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
